[Desktop Action new-private-window]
Exec=zen --private-window %u
Name=Open a New Private Window

[Desktop Action new-window]
Exec=zen %u
Name=Open a New Window

[Desktop Action profilemanager]
Exec=zen --ProfileManager %u
Name=Open the Profile Manager

[Desktop Entry]
Actions=new-window;new-private-window;profilemanager;
Categories=Network;WebBrowser;
Comment=Experience tranquillity while browsing the web without people tracking you!
Exec=env GTK_IM_MODULE=fcitx zen %u
Icon=zen-browser
Keywords=Internet;WWW;Browser;Web;Explorer;
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
Name=Zen Browser
NoDisplay=false
Path=
StartupNotify=true
StartupWMClass=zen
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
X-MultipleArgs=false
