[submodule "data/local/share/wallpapers/hmeqo"]
	path = data/local/share/wallpapers/hmeqo
	url = https://github.com/hmeqo/wallpaper.git
[submodule "data/local/share/wallpapers/stephan-raabe"]
	path = data/local/share/wallpapers/stephan-raabe
	url = https://gitlab.com/stephan-raabe/wallpaper.git
