[submodule "config/nvim"]
	path = config/nvim
	url = https://github.com/AstroNvim/AstroNvim.git
[submodule "config/wallpapers/stephan-raabe"]
	path = config/wallpapers/stephan-raabe
	url = https://gitlab.com/stephan-raabe/wallpaper.git
