[options.fastfetch]
tags = ["Cyber ID card"]
links = [
    { source = "data/config/fastfetch/config.jsonc", target = "~/.config/fastfetch/config.jsonc" },
]
depends = { system = ["fastfetch"] }

[options.fastfetch-mini]
tags = ["Cyber ID card"]
links = [
    { source = "data/config/fastfetch/mini.jsonc", target = "~/.config/fastfetch/config.jsonc" },
]
depends = { system = ["fastfetch"] }

[options.bash]
tags = ["shell"]
links = [
    { source = "data/config/bash/bash_profile", target = "~/.bash_profile" },
    { source = "data/config/bash/bashrc", target = "~/.bashrc" },
]
depends = { system = ["bash"] }

[options.fish]
tags = ["shell"]
links = [
    { source = "data/config/fish/config.fish", target = "~/.config/fish/config.fish" },
    { source = "data/config/fish/functions/_25_keybindings.fish", target = "~/.config/fish/functions/_25_keybindings.fish" },
    { source = "data/config/fish/functions/fish_mode_prompt.fish", target = "~/.config/fish/functions/fish_mode_prompt.fish" },
    { source = "data/config/fish/functions/proxyoff.fish", target = "~/.config/fish/functions/proxyoff.fish" },
    { source = "data/config/fish/functions/proxyon.fish", target = "~/.config/fish/functions/proxyon.fish" },
]
depends = { system = [
    "fish",
], other-items = [
    "starship",
], fisher = [
    "patrickF1/fzf.fish",
] }

[options.zsh]
tags = ["shell"]
links = [
    { source = "data/config/zsh/zshenv", target = "~/.zshenv" },
    { source = "data/config/zsh/zimrc", target = "~/.config/zsh/.zimrc" },
    { source = "data/config/zsh/zprofile", target = "~/.config/zsh/.zprofile" },
    { source = "data/config/zsh/zshrc", target = "~/.config/zsh/.zshrc" },
]
depends = { system = ["zsh"] }

[options.zsh-no-zshenv]
tags = ["shell"]
links = [
    { source = "data/config/zsh/zimrc", target = "~/.config/zsh/.zimrc" },
    { source = "data/config/zsh/zprofile", target = "~/.config/zsh/.zprofile" },
    { source = "data/config/zsh/zshrc", target = "~/.config/zsh/.zshrc" },
]
depends = { system = ["zsh"] }

[options.starship]
tags = ["shell"]
links = [
    { source = "data/config/starship.toml", target = "~/.config/starship.toml" },
]
depends = { system = ["starship"] }

[options.tmux]
tags = ["shell"]
links = [
    { source = "data/config/tmux/tmux.conf", target = "~/.config/tmux/tmux.conf" },
]
depends = { system = ["tmux", "tmux-plugin-manager"] }

[options.wezterm]
tags = ["terminal"]
links = [{ source = "data/config/wezterm", target = "~/.config/wezterm" }]
depends = { system = ["wezterm"] }

[options.kitty]
tags = ["terminal"]
links = [{ source = "data/config/kitty", target = "~/.config/kitty" }]
depends = { system = ["kitty"] }

[options.ghostty]
tags = ["terminal"]
links = [{ source = "data/config/ghostty", target = "~/.config/ghostty" }]
depends = { system = ["ghostty"] }

[options.yazi]
tags = ["file explorer"]
links = [
    { source = "data/config/yazi/init.lua", target = "~/.config/yazi/init.lua" },
    { source = "data/config/yazi/keymap.toml", target = "~/.config/yazi/keymap.toml" },
    { source = "data/config/yazi/package.toml", target = "~/.config/yazi/package.toml" },
    { source = "data/config/yazi/yazi.toml", target = "~/.config/yazi/yazi.toml" },
]
depends = { system = ["yazi"], post-exec = ["ya pack -i"] }

[options.neovim]
tags = ["editor"]
links = [{ source = "data/config/nvim", target = "~/.config/nvim" }]
depends = { system = ["neovim"] }

[options.kde]
tags = ["DE"]
links = [
    { source = "data/config/kde/kactivitymanagerdrc", target = "~/.config/kactivitymanagerdrc" },
    { source = "data/config/kde/kcminputrc", target = "~/.config/kcminputrc" },
    { source = "data/config/kde/kdeglobals", target = "~/.config/kdeglobals" },
    { source = "data/config/kde/kglobalshortcutsrc", target = "~/.config/kglobalshortcutsrc" },
    { source = "data/config/kde/krunnerrc", target = "~/.config/krunnerrc" },
    { source = "data/config/kde/kscreenlockerrc", target = "~/.config/kscreenlockerrc" },
    { source = "data/config/kde/kwinrc", target = "~/.config/kwinrc" },
    { source = "data/config/kde/kwinrulesrc", target = "~/.config/kwinrulesrc" },
    { source = "data/config/kde/plasma-org.kde.plasma.desktop-appletsrc", target = "~/.config/plasma-org.kde.plasma.desktop-appletsrc" },
    { source = "data/config/kde/plasmarc", target = "~/.config/plasmarc" },
    { source = "data/config/kde/plasmashellrc", target = "~/.config/plasmashellrc" },

    # konsole
    { source = "data/config/kde/konsolerc", target = "~/.config/konsolerc" },
    { source = "data/local/share/konsole/Materia Dark.colorscheme", target = "~/.local/share/konsole/Materia Dark.colorscheme" },
    { source = "data/local/share/konsole/Materia Dark (Dolphin).colorscheme", target = "~/.local/share/konsole/Materia Dark (Dolphin).colorscheme" },
    { source = "data/local/share/konsole/Materia Dark (Transparent).colorscheme", target = "~/.local/share/konsole/Materia Dark (Transparent).colorscheme" },
    { source = "data/local/share/konsole/Konsole.profile", target = "~/.local/share/konsole/Konsole.profile" },
    { source = "data/local/share/konsole/Dolphin.profile", target = "~/.local/share/konsole/Dolphin.profile" },
    { source = "data/local/share/konsole/Yakuake.profile", target = "~/.local/share/konsole/Yakuake.profile" },

    # yakuake
    { source = "data/config/kde/yakuakerc", target = "~/.config/yakuakerc" },

    # icons
    { source = "data/local/share/icons/logo", target = "~/.local/share/icons/logo" },
]
[options.kde.depends]
system = [
    "kwallet-pam",
    "ttf-maple",
    "bibata-cursor-theme",
    "kwin-effects-forceblur-git",
]
kwin-effects = ["kwin4_effect_geometry_change"]
kwin-scripts = ["kzones", "movewindow"]
plasma-desktoptheme = ["Materia Dark KDE"]
plasma-plasmoids = [
    "com.github.antroids.application-title-bar",
    "com.github.prayag2.modernclock",
    "org.kde.netspeedWidget",
    "org.kde.plasma.ginti",
    "org.kde.plasma.simplekickoff",
]
icons = ["Fluent icon theme"]
gtk-themes = ["Fluent round gtk theme"]
color-schemes = ["Fluent color scheme"]
window-decoration = ["ChromeOS Aurorae"]
yakuake-skin = ["Materia Dark KDE"]
other-items = ["kvantum", "fcitx5", "wallpaper-hmeqo", "fontconfig"]

[options.fontconfig]
links = [{ source = "data/config/fontconfig", target = "~/.config/fontconfig" }]

[options.kvantum]
tags = ["qt", "theme"]
links = [
    { source = "data/config/Kvantum/kvantum.kvconfig", target = "~/.config/Kvantum/kvantum.kvconfig" },
]
depends = { theme = ["Fluent-round"] }

[options.fcitx5]
tags = ["input method"]
links = [{ source = "data/config/fcitx5", target = "~/.config/fcitx5" }]
depends = { system = [
    "fcitx5-im",
    "fcitx5-skin-fluentdark-git",
], chinese = [
    "fcitx5-pinyin-zhwiki",
] }

[options.wallpaper-hmeqo]
tags = ["wallpaper"]
links = [
    { source = "data/local/share/wallpapers/hmeqo", target = "~/.local/share/wallpapers/hmeqo" },
]
depends = { git-submodule = ["data/local/share/wallpapers/hmeqo"] }

[options.wallpaper-stephan-raabe]
tags = ["wallpaper"]
links = [
    { source = "data/local/share/wallpapers/stephan-raabe", target = "~/.local/share/wallpapers/stephan-raabe" },
]
depends = { git-submodule = ["data/local/share/wallpapers/stephan-raabe"] }

[options.ruff]
tags = ["python", "linter"]
links = [{ source = "data/config/ruff", target = "~/.config/ruff" }]

[options.mpv]
tags = ["video player"]
links = [{ source = "data/config/mpv", target = "~/.config/mpv" }]
depends = { system = ["mpv"] }

[options.mangohud]
tags = ["game"]
links = [
    { source = "data/config/MangoHud/MangoHud.conf", target = "~/.config/MangoHud/MangoHud.conf" },
]
depends = { system = ["mangohud"] }

[options.scripts]
tags = ["scripts"]
links = [
    { source = "data/local/bin/gameoverlay", target = "~/.local/bin/gameoverlay" },
    { source = "data/local/bin/kde-no-global-menu", target = "~/.local/bin/kde-no-global-menu" },
    { source = "data/local/bin/ltr", target = "~/.local/bin/ltr" },
    { source = "data/local/bin/rtl", target = "~/.local/bin/rtl" },
    { source = "data/local/bin/psubview", target = "~/.local/bin/psubview" },
    { source = "data/local/bin/pyfiglet-picker", target = "~/.local/bin/pyfiglet-picker" },
    { source = "data/local/bin/reloadenv", target = "~/.local/bin/reloadenv" },
    { source = "data/local/bin/sshs", target = "~/.local/bin/sshs" },
    { source = "data/local/bin/toggle-boost", target = "~/.local/bin/toggle-boost" },
]

[options.waybar]
tags = ["Archived"]
links = [
    { source = "data/archived/config/waybar", target = "~/.config/waybar" },
]
depends = { system = ["waybar"] }

[options.hyprland]
tags = ["Archived", "WM"]
links = [
    { source = "data/archived/config/hypr", target = "~/.config/hypr" },
    { source = "data/archived/config/hypr/scripts/waybarswitchtheme", target = "~/.local/bin/waybarswitchtheme" },
]
depends = { system = [
    "hyprland",
    "xdg-desktop-portal-hyprland",
    "hyprpaper",
    "hyprshot",
    "hyprlock",
    "cliphist",
    "rofi-wayland",
    "rofimoji",
    "dunst",
    "kservice",
    "qt6ct+archlinux-xdg-menu/plasma-workspace",
    "systemsettings",
    "nwg-look",
    "network-manager-applet",
    "polkit-kde-agent",
    "kwallet",
    "kwallet-pam",
    "kdeconnect",
    "kitty",
    "dolphin",
    "inotify-tools",
    "cmake",
    "meson",
    "cpio",
], other-items = [
    "rofi",
    "waybar",
    "dunst",
    "wallpaper-hmeqo",
    "fcitx5",
    "kvantum",
], post-exec = [
    "hyprpm add https://github.com/dawsers/hyprscroller",
] }

[options.rofi]
tags = ["Archived", "application launcher"]
links = [{ source = "data/archived/config/rofi", target = "~/.config/rofi" }]
depends = { system = ["rofi-wayland"] }

[options.dunst]
tags = ["Archived", "notification"]
links = [{ source = "data/archived/config/dunst", target = "~/.config/dunst" }]
depends = { system = ["dunst"] }
