configuration {
    modi: [ combi, drun, run ];
    combi-modi: [ window, drun, run, ssh ];
    display-combi: "All";
    display-drun: "Drun";
    display-run: "Run";
    font: "FiraCode Nerd Font 12";
    show-icons: true;
}

@import "themes/default-color"

@import "themes/default"
