[Unit]
Description=Clash For Linux
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/bash /opt/clash-for-linux/start.sh
ExecStop=/usr/bin/bash /opt/clash-for-linux/shutdown.sh
Restart=always

[Install]
WantedBy=multi-user.target
