* {
  font-size: 12px;
  font-family: "FiraCode Nerd Font";
  min-height: 0;
}

#waybar {
  color: #eeeeee;
  background-color: #262626;
}

#waybar > :nth-child(2) {
  padding: 0 8px;
}

.modules-left,
.modules-right {
  padding: 4px 16px;
}

.modules-center {
  padding: 4px 12px;
}

.modules-left > * > * {
  margin-right: 12px;
}

.modules-left > :last-child > * {
  margin-right: 0;
}

.modules-right > * > * {
  margin-left: 12px;
}

.modules-right > :first-child > * {
  margin-left: 0;
}

#workspaces > * {
  padding: 0 4px 0 2px;
}
