[Unit]
Description=Boot Script
After=network.target

[Service]
Type=oneshot
ExecStartPre=/bin/sh /opt/scripts/boot-script-pre.sh
ExecStart=/bin/sh /opt/scripts/boot-script.sh

[Install]
WantedBy=multi-user.target
